@model Nop.Plugin.Widgets.HelloWorld.Models.PublicBannerModel

<div style="margin: 1.5rem auto;">
    @if (string.IsNullOrEmpty(Model.LinkText))
    {
        <img src="@Model.ImageUrl" alt="@Model.AltText" class="img-thumbnail" style="width: 100%;" />
    }
    else
    {
        <a href="@Model.LinkText">
            <img src="@Model.ImageUrl" alt="@Model.AltText" class="img-thumbnail" style="width: 100%;" />
        </a>
    }
</div>